databasePassword: postgres
emailSecretHashPepper: replace-with-32-byte-random-secret
jwtRefreshTokenHashPepper: replace-with-32-byte-random-secret
jwtHmacSha512PrivateKey: replace-with-64-byte-random-secret
smtpHost: smtp.resend.com
smtpPort: 587
smtpUser: resend
smtpPassword: replace-with-smtp-password
smtpFromEmail: no-reply@example.com
